GrupoComponente.Web/Connected Services/ServiceReferenceTestGP/ServiceTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56840/ServiceTest.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56840/ServiceTest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56840/ServiceTest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GrupoComponente.Data.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTest_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IServiceTest_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTest_SetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUser" />
  </wsdl:message>
  <wsdl:message name="IServiceTest_SetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTest_DelUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DelUser" />
  </wsdl:message>
  <wsdl:message name="IServiceTest_DelUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTest">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTest/GetUsers" message="tns:IServiceTest_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTest/GetUsersResponse" message="tns:IServiceTest_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTest/SetUser" message="tns:IServiceTest_SetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTest/SetUserResponse" message="tns:IServiceTest_SetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTest/DelUser" message="tns:IServiceTest_DelUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTest/DelUserResponse" message="tns:IServiceTest_DelUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceTest" type="tns:IServiceTest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IServiceTest/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <soap:operation soapAction="http://tempuri.org/IServiceTest/SetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap:operation soapAction="http://tempuri.org/IServiceTest/DelUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTest">
    <wsdl:port name="BasicHttpBinding_IServiceTest" binding="tns:BasicHttpBinding_IServiceTest">
      <soap:address location="http://localhost:56840/ServiceTest.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>