GrupoComponente.Web/Connected Services/ServiceReferenceTestGP/ServiceTest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56840/ServiceTest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GrupoComponente.Data.Entidades" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GrupoComponente.Data.Entidades" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ResponseOfUserxIb96Sa9" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GrupoComponente.Data.Entidades" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GrupoComponente.Data.Entidades" minOccurs="0" name="SetUserResult" nillable="true" type="q3:ResponseOfUserxIb96Sa9" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GrupoComponente.Data.Entidades" minOccurs="0" name="DelUserResult" nillable="true" type="q4:ResponseOfUserxIb96Sa9" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>